body {
  font-family: "Montserrat", sans-serif;
  background-color: #F9F6F1;
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
}

button:hover {
  cursor: pointer;
}

h2.title-h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  h2.title-h2 {
    font-size: 25px;
  }
}

.btn {
  margin-top: 40px;
  width: 240px;
  height: 50px;
  background-color: #D7B399;
  border: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-xs {
  width: 80px;
  height: 30px;
  margin-top: 20px;
  background-image: url("img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-position: 30px 12px;
}
.btn-center {
  display: block;
  text-align: center;
  max-width: 220px;
  max-height: 55px;
  margin: 100px auto 0;
  background-image: url("img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-position: right 30px top 20px;
}

.page-light {
  background-color: #F9F6F1;
  color: #212121;
}
.page-dark {
  background-color: #212121;
  color: #F9F6F1;
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .header {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 992px) {
  .nav {
    display: none;
  }
}
.nav-item {
  margin-right: 30px;
}
.nav-link {
  color: #212121;
  text-decoration: none;
}
.nav-info .nav-item {
  padding-left: 25px;
  padding-right: 25px;
}
.nav-bar {
  position: absolute;
  background-color: #D7B399;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.card {
  background-image: url("img/card.svg");
  padding-left: 55px;
  padding-top: 15px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.card-count {
  background-color: #D7B399;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
  position: relative;
}
.card-count::before {
  position: absolute;
  left: -13px;
  top: -3px;
  content: "";
  background-image: url("img/polygon.svg");
  padding: 10px 15px;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.card:hover {
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
@media (max-width: 992px) {
  #main {
    flex-wrap: wrap;
  }
}
#main .column-left {
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  #main .column-left {
    flex: 0 0 100%;
    text-align: center;
  }
}
#main .column-left h1 {
  padding: 0;
  margin: 30px 0 0;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 2px;
}
#main .column-left h3 {
  padding: 0;
  margin: 5px 0 0;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.7px;
}
#main .column-right {
  position: relative;
}
@media (max-width: 992px) {
  #main .column-right {
    flex: 0 0 100%;
    max-width: 600px;
    margin: 50px auto 0;
  }
}
#main .column-right .item-image {
  margin-top: -30px;
  margin-left: 5px;
}
#main .column-right .item-image img {
  width: 100%;
  max-width: 556px;
}
#main .column-right .prices {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}
#main .column-right .prices .item-price-old {
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
  letter-spacing: 1px;
  padding: 10px;
}
#main .column-right .prices .item-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #D84033;
  padding-top: 10px;
}

.notice {
  height: 235px;
  text-align: center;
  margin-top: 130px;
}
.notice-title {
  text-transform: uppercase;
  padding-top: 80px;
  letter-spacing: -1.1px;
  margin-left: 20px;
}
@media (max-width: 500px) {
  .notice-title {
    font-size: 16px;
  }
}
.notice-title span {
  font-weight: 400;
}
.notice-description {
  font-size: 21px;
  margin-left: 50px;
  padding-top: 2px;
}
@media (max-width: 500px) {
  .notice-description {
    font-size: 13px;
    margin-left: 0;
    padding-top: 0;
  }
}

.collection {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  height: 250px;
}
@media (max-width: 992px) {
  .collection {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .collection {
    height: 470px;
  }
}
.collection-item {
  flex: 0 0 50%;
  background-repeat: no-repeat;
  background-size: 190px 171px;
}
@media (max-width: 992px) {
  .collection-item {
    flex: 0 0 100%;
    padding: 43px 0 63px;
  }
}
.collection-item.man {
  background-image: url("img/man.png");
  background-position: right 30px top 40px;
}
@media (max-width: 500px) {
  .collection-item.man {
    background-position: right 5px top 78px;
  }
}
.collection-item.woman {
  background-image: url("img/woman.png");
  background-position: right 45px top 40px;
}
@media (max-width: 500px) {
  .collection-item.woman {
    background-position: right 5px top 78px;
  }
}
.collection-item h2 {
  text-transform: uppercase;
  font-size: 24px;
}
@media (max-width: 992px) {
  .collection-item h2 {
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .collection-item h2 {
    font-size: 18px;
  }
}
.collection-item h2 span {
  font-weight: 700;
}
.collection-item p {
  font-size: 16px;
}
@media (max-width: 992px) {
  .collection-item p {
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .collection-item p {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .collection-item button {
    margin-left: 20px;
  }
}

.page-products {
  padding-top: 80px;
  background-color: white;
  min-height: 785px;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  .page-products {
    padding-top: 280px;
  }
}
@media (max-width: 500px) {
  .page-products {
    padding-top: 30px;
  }
}

.product-item {
  position: relative;
  flex: 0 0 24%;
}
@media (max-width: 992px) {
  .product-item {
    flex: 0 0 49%;
    margin-bottom: 20px;
  }
}
.product-item::after, .product-item::before {
  content: "";
  display: block;
  height: 25px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .product-item::after, .product-item::before {
    background-size: 100% 25px;
  }
}
.product-item::before {
  background-image: url("img/upper-product-frame.svg");
}
.product-item::after {
  background-image: url("img/bottom-product-frame.svg");
}

.products {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-left: 15px;
}
@media (max-width: 992px) {
  .products {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .products {
    margin-left: 85px;
  }
}

.product-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 25px;
}

.product-price {
  color: #D7B399;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.btn-center span {
  margin-right: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 311px;
  padding-top: 65px;
}
@media (max-width: 992px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer-logo {
  flex: 0 0 30%;
}
@media (max-width: 992px) {
  .footer-logo {
    flex: 0 0 100%;
    padding: 0 0 20px 20px;
  }
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  flex: 0 0 65%;
}
@media (max-width: 500px) {
  .footer-nav {
    flex-wrap: wrap;
  }
}
.footer-list {
  list-style-type: none;
  line-height: 30px;
}
@media (max-width: 992px) {
  .footer-list {
    flex: 0 0 25%;
  }
}
@media (max-width: 500px) {
  .footer-list {
    flex: 0 0 90%;
    line-height: 50px;
  }
}
.footer-list a {
  text-decoration: none;
  color: #CBCFD4;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer-list-title {
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  padding-bottom: 15px;
}
.footer-list-link img {
  padding-right: 5px;
  position: relative;
  top: 2px;
}

.subfooter {
  background-color: #E5E5E5;
  height: 100px;
  padding: 0 30px;
}
@media (max-width: 500px) {
  .subfooter {
    padding: 0 10px;
  }
}
.subfooter-text {
  display: flex;
  justify-content: space-between;
  color: #212121;
  padding-top: 30px;
}
@media (max-width: 500px) {
  .subfooter-text {
    flex-direction: column;
  }
}
.subfooter-text-right-link {
  text-decoration: none;
  color: #212121;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.toggle-menu {
  background-color: #212121;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px 12px;
  cursor: pointer;
}
@media (min-width: 993px) {
  .toggle-menu {
    display: none;
  }
}
@media (max-width: 500px) {
  .toggle-menu {
    width: 18px;
    height: 18px;
  }
}
.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
  display: none;
}
.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}
.toggle .toggle-menu {
  background-color: white;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.nav-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
.nav-list-item {
  text-align: center;
  padding: 20px 0;
}

/*# sourceMappingURL=style.css.map */
